<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    #parse("/common/include.html")
</head>
<body>
    <input type="file" name="file" lay-type="file" lay-ext="xls" lay-title="请上传表格"
           class="layui-upload-file">
    <script>
        layui.use('upload', function(){
            layui.upload({
                url:Bm["path"] + '/test/file'
                ,before: function(input){

                }
                ,success: function(res){
                    console.log(res); //上传成功返回值，必须为json格式
                }
            });
        });
    </script>
</body>
</html>
